body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-size: 40px;
  line-height: normal;
  margin-bottom: 90px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h1, h2 {
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #000000;
}

.logo {
  float: left;
  width: 300px;
  min-height: 124px;
}

.main-navigation {
  float: left;
  width: 460px;
  min-height: 124px;
}

.cart-block {
  float: right;
  width: 100px;
  min-height: 124px;
}

.header {
  margin-bottom: 50px;
}

.slider {
  border: 1px solid #000000;
}

header {
  margin-bottom: 80px;
  background-color: grey;
}

.features {
  margin-bottom: 60px;
}

.features-item {
  float: left;
  width: 240px;
  min-height: 300px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.features-item img, .features-item p, .features-item h2 {
  margin-bottom: 30px;
}

.features-item:nth-child(3n) {
  float: right;
  margin-right: 0;
}

.content-row {
  margin-bottom: 20px;
}

.content-column-left {
  float: left;
  width: 620px;
  margin-bottom: 50px;
}

.content-column-right {
  float: right;
  width: 240px;
  margin-bottom: 50px;
}

.partners {
  margin-bottom: 85px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.logo-partners {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
}

.logo-partners:last-child {
  margin-right: 0;
}

.contacts {
  position: absolute;
  top: 90px;
  left: 160px;
}

.footer-map {
  position: relative;
}

.footer-social {
  margin-top: 75px;
  margin-bottom: 75px;
}

.footer-social-btn {
  float: left;
  width: 300px;
}
.footer-social-title {
  float: right;
  width: 560px;
}

/* catalog */
.filter {
  float: left;
  width: 300px;
  margin-right: 20px;
  min-height: 730px;
}

.filter-group {
  margin-bottom: 50px;
}

.filter-group-name {
  margin-bottom: 15px;
}

legend {
  margin-bottom: 35px;
  display: block;
}

fieldset{
  border: 0;
}

label {
  display: block;
  margin-bottom: 16px;
}

.catalog {
  float: right;
  width: 560px;
  min-height: 100px;
}

.sort {
  margin-bottom: 25px;
}

.sort-title {
  float: left;
  width: 100px;
  margin-right: 20px;
}

.sort-type {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.sort-mode {
  float: right;
  width: 35px;
}

ul.sort-type, ul.sort-mode {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-item {
  float: left;
  width: 240px;
  min-height: 270px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.catalog-item:nth-child(odd) {
  margin-right: 0;
}

.catalog ul.paginator {
  clear: both;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* google-map */
.google-map {
  height: 500px;
}








