body {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-size: 40px;
  line-height: normal;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h1, h2 {
  color: black;
}

.google-map {
  height: 500px;
}